.badge{
    padding: 3px 11px;
    color: white;
    border-radius: 30px;
    font-size: 14px;
}

.badge-fail {
  background: rgba(240, 68, 56, 0.05);
  color: #F04438;
}

.badge-pending {
  color: #F79009;
  background: rgba(247, 144, 9, 0.05);
}

.badge-success {
  color: #12B76A;
  background: rgba(18, 183, 106, 0.05)
}