.badge{
    padding: 3px 11px;
    color: white;
    border-radius: 30px;
    font-size: 14px;
}

.badge-fail {
  background-color: #F2F4F7;
  color: #4A4A4A;
}

.badge-pending {
  background-color: #FBB129;
}

.badge-success {
  color: #12B76A;
}