.second__container{
  perspective: 500px;
}

.second__container:hover > .second__card{
  cursor: pointer;
  transform: rotateY(180deg);
}

.second__card{
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  backface-visibility: hidden;
}

.back{
  transform: rotateY(180deg);

}
