@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #2D2D2D;
  background: #F7F7F7;
}

input[type="checkbox"]:checked  {
  background-color: #000000 !important; /* Set the background color for checked checkboxes */
  display: hidden; 
}

.MuiTabs-indicator {
  background-color: #210590 !important; /* Customize the color of the active tab indicator */
}

.MuiTabs-root .Mui-selected {
  color: #4A4A4A !important; /* Customize the color of the active tab label */
  font-size: 600;
  font-size: 14px
}